<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
        
    </div>
    <div class="recipe-title-container">
        <h2 class="recipe-title">
            Lorem ipsum dolor sit amet.
        </h2>
    </div>
    <div class="recipe-author">
        <span class="recipe-author-item">
            <i class="fas fa-user">
                Moab Lima
            </i>
        </span>
        <span class="recipe-author-item">
            <i class="fa fa-calendar-alt"></i>
            05/04/2023 às 19:15
        </span>
        <span class="recipe-author-item">
            <a href="/recipes/category/cafe-da-manha/">
                <i class="fas fa-layer-group"></i>
                <span>Café da Manhã</span>
            </a>
        </span>
    </div>
    <div class="recipe-content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed nemo eos omnis, aspernatur odit est, excepturi perferendis, eius ipsum amet exercitationem dolorem? Facilis quaerat incidunt minus culpa minima, tempora obcaecati.</p>
    </div>

    <div class="recipe-meta-container">
        <div class="recipe-meta recipe-preparation">
            <h3 class="recipe-meta-title"><i class="fas fa-stopwatch"></i>Preparo</h3>
            <div class="recipe-meta-text">
                0 Minutos
            </div>
           </div>
           <div class="recipe-meta recipe-servings">
                <h3 class="recipe-meta-title"><i class="fas fa-pizza-slice"></i>Porções</h3>  
                <div class="recipe-meta-text">
                0 Porções
                
                </div>
    </div>        
           </div> 
          <footer class="recipe-footer">
            <a href="recipes/{{id}}/" class="recipe-readmore button button-dark-full-width"></a> 
                <i class="fas fa-eye"></i>
                
                <span>Ver mais...</span>
          </footer>
    
</div>

